@import "tailwindcss";

:root {
  /* --default-font-family: var(--font-lexend);
  --font-sans: var(--default-font-family);
  --font-mono: var(--default-font-family); */
}
body {
  margin: 0;
  padding: 0;
  font-family: "Lexend";
}
/*Texts*/
p {
  @apply text-base;
}
h1 {
  @apply text-4xl;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-3xl;
}
h4 {
  @apply font-semibold text-2xl;
}
h5 {
  @apply font-semibold text-xl;
}
h6 {
  @apply font-semibold text-lg;
}
/*Header*/
.header {
  @apply bg-[#a9d9d0] fixed left-0 right-0 top-0 z-99;
}
.navbar {
  @apply mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8;
}
.navbar-brand-lg {
  @apply flex lg:flex-1;
}
.navbar-logo {
  @apply h-8 w-auto;
}
.mobile-menu-wrapper {
  @apply flex lg:hidden;
}
.mobile-menu-btn {
  @apply -m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700;
}
.popover-group {
  @apply hidden lg:flex lg:gap-x-12;
}
.dialog {
  @apply lg:hidden;
}
.dialog-panel {
  @apply fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-sky-50 p-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10;
}
.dialog-header {
  @apply flex items-center justify-between;
}
.dialog-logo {
  @apply h-8 w-auto;
}
.dialog-nav-root {
  @apply mt-6 flow-root;
}
.dialog-nav-divide {
  @apply -my-6 divide-y divide-gray-500/10;
}
.dialog-nav {
  @apply space-y-2 py-6;
}
.nav-link {
  @apply text-sm block text-gray-900 hover:text-indigo-500  hover:font-bold hover:underline;
}
.nav-link.popover-link {
  @apply font-medium;
}
.nav-link.dialog-link {
  @apply -mx-3  rounded-lg px-3 py-2 uppercase font-semibold;
}
.dialog-close-btn {
  @apply -m-2.5 rounded-md p-2.5 text-gray-700;
}
/*Footer*/
.footer {
  @apply bg-indigo-900 flex justify-center p-6 
}
.footer p {
  @apply text-white text-sm font-medium
}
/*Button*/
.btn {
  @apply px-4 py-2 text-base font-semibold rounded-lg;
}

.btn-primary {
  @apply bg-indigo-500;
}
.btn-secondary {
  @apply bg-teal-500;
}

.outlined {
  @apply border-solid border-2 bg-transparent;
}
.btn-primary.outlined {
  @apply border-indigo-500  text-indigo-500;
}
.btn-secondary.outlined {
  @apply border-teal-500 text-teal-500;
}
/*Hero*/
.hero-section {
  @apply bg-[#a9d9d040];
}
.hero-content-wrapper {
  @apply h-screen mx-auto max-w-7xl p-6 grid grid-cols-4 grid-flow-col grid-rows-4 gap-4;
}

.hero-content {
  @apply col-span-2 row-start-2 row-span-3;
}

.hero-content h1 {
  @apply text-indigo-700;
}
.hero-content h2 {
  @apply text-teal-900 my-3;
}
.hero-content p {
  @apply text-gray-700 leading-relaxed;
}

.hero-image {
  grid-area: 2 / 3 / 4 / 5;
  background-image: url("../assets/illustration_608x445.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}
/* Skills*/
.skills-section {
  @apply bg-[#f7fafa] py-16 px-6;
}
.container {
  @apply h-screen mx-auto max-w-7xl flex flex-col justify-center items-center;
}
.skills-section h2 {
  @apply text-indigo-500 font-bold mb-8 text-center;
}
.skills-section .grid-view {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4
}

.skills-card {
  @apply rounded-3xl p-4 backdrop-blur-md shadow-md border text-center text-sm font-medium cursor-default  bg-white border-white/20
}

/*Services*/
.services-section {
  @apply bg-[#ebf5f5] px-6 py-16
}

.services-section h2 {
  @apply font-bold mb-10 text-center text-teal-900
} 

.services-card {
 @apply p-8 rounded-3xl bg-white backdrop-blur-xl shadow-xl border border-white
}

.services-card .card-header {
@apply flex items-center gap-3 mb-4
}
.services-card .title {
  @apply text-xl font-semibold
}
.services-card .text {
  @apply text-sm opacity-80 leading-relaxed
}
.services-section .grid-view {
  @apply grid sm:grid-cols-2 lg:grid-cols-3 gap-8
}