@import "tailwindcss";

:root {
  /* --default-font-family: var(--font-lexend);
  --font-sans: var(--default-font-family);
  --font-mono: var(--default-font-family); */
}
body {
  margin: 0;
  padding: 0;
  font-family: "Lexend";
}
/*Texts*/
p {
  @apply text-base;
}
h1 {
  @apply text-4xl;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-3xl;
}
h4 {
  @apply font-semibold text-2xl;
}
h5 {
  @apply font-semibold text-xl;
}
h6 {
  @apply font-semibold text-lg;
}
/*Header*/
.header {
 @apply bg-zinc-50
}
.navbar {
  @apply mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8
}
.navbar-brand-lg {
  @apply flex lg:flex-1
}
.navbar-logo {
  @apply h-8 w-auto
}
.mobile-menu-wrapper {
  @apply flex lg:hidden
}
.mobile-menu-btn {
  @apply -m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700
}
.popover-group {
  @apply hidden lg:flex lg:gap-x-12
}
.dialog {
  @apply lg:hidden
}
.dialog-panel {
  @apply fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-sky-50 p-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10
}
.dialog-header {
  @apply flex items-center justify-between
}
.dialog-logo {
  @apply h-8 w-auto
}
.dialog-nav-root {
  @apply mt-6 flow-root
}
.dialog-nav-divide {
 @apply -my-6 divide-y divide-gray-500/10
}
.dialog-nav {
  @apply space-y-2 py-6
}
.nav-link {
 @apply text-sm block text-gray-900 hover:text-indigo-500  hover:font-bold hover:underline
}
.nav-link.popover-link {
  @apply  font-medium 
}
.nav-link.dialog-link {
  @apply -mx-3  rounded-lg px-3 py-2 uppercase font-semibold 
}
.dialog-close-btn {
  @apply -m-2.5 rounded-md p-2.5 text-gray-700
}
/*Button*/
.btn {
  @apply px-4 py-2 text-base font-semibold rounded-lg;
}

.btn-primary {
  @apply bg-indigo-500;
}
.btn-secondary {
  @apply bg-teal-500;
}

.outlined {
  @apply border-solid border-2 bg-transparent;
}
.btn-primary.outlined {
  @apply border-indigo-500  text-indigo-500;
}
.btn-secondary.outlined {
  @apply border-teal-500 text-teal-500;
}
/*Card*/
